body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: #61dafb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#calculator {
  width: 100%;
  max-width: 320px;
  border-radius: 10px;
  padding: 25px;
  background: #20232a;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

#calculator button,
#calculator input {
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#calculator button {
  background-color: #61dafb;
  color: #20232a;
  cursor: pointer;
}

#calculator button:hover {
  background-color: #4fa8d8;
  transform: translateY(-3px);
}

#calculator input {
  grid-column: span 4;
  text-align: right;
  background-color: #333740;
  color: #61dafb;
  font-size: 28px;
  /* Increased font size */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#calculator input:focus {
  box-shadow: 0 0 8px #61dafb;
  /* Added focus effect */
  transform: scale(1.05);
  /* Added scale effect on focus */
}

#calculator button#clearButton {
  background-color: #ff6347;
  /* Tomato color for the 'C' button */
}

#calculator button#clearButton:hover {
  background-color: #e55335;
  /* Darker tomato color on hover */
}
